{% extends 'base.html.twig' %}

{% block body %}
    <div id="postform">
        {{ app.session.get('username') }}, what you are doing?
        <br>
        {{ form(tweetForm) }}
        <div id="homeinfobox">
            {{ followers }} followers <br>
            {{ following }} following <br>
        </div>
    </div>
{% endblock %}
