{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="username">Profile {{ username_converter(userId) }}</h2>
    <a href="{{ path('follow', {'userId':userId}) }}" class="button">Follow</a>
    {% for tweet in tweets %}
        {{ tweet }} <br>
    {% endfor %}
{% endblock %}
