{% extends 'base.html.twig' %}
{% block body %}
    <h2>Timeline</h2>
    <i>Latest registered users (an example of SORT command!)</i><br>
    {% for user in lastUsers %}
        <a class="username" href="{{ path('profile', {'userId': user}) }}">{{ username_converter(user) }}</a> <br>
    {% endfor %}
    <i>Latest 50 messages from users around the world!</i><br>
    {% for tweet in tweets %}
        {{ tweet }} <br>
    {% endfor %}
{% endblock %}
