{% extends 'base.html.twig' %}
{% block body %}
    <h2>Timeline</h2>
    <i>Latest registered users (an example of SORT command!)</i><br>
    {#TODO show last users#}
    <i>Latest 50 messages from users around the world!</i><br>
    {#TODO show user posts#}
{% endblock %}
