<div id="header">
    <a href="{{ path('index') }}"><img style="border:none" src="{{ asset('img/logo.png') }}" width="192" height="85" alt="Retwis"></a>
    {% include ':default/partials:navbar.html.twig' %}
</div>
