<div id="navbar">
    <a href="{{ path('index') }}">Home</a>
    | <a href="{{ path('timeline') }}">Timeline</a>
    {% if app.session.get('userId', null) is not null %}
    | <a href="{{ path('logout') }}">Logout</a>
    {% endif %}
</div>
