<div id="navbar">
    <a href="{{ path('index') }}">Home</a>
    | <a href="{#TODO time-line route#}">Timeline</a>
    {#TODO chheck if logged in#}
    | <a href="{{ path('logout') }}">Logout</a>
</div>
