<div id="navbar">
    <a href="{{ path('index') }}">Home</a>
    | <a href="{#TODO time-line route#}">Time-line</a>
    {#TODO chheck if logged in#}
    | <a href="{#TODO logout route#}">Logout</a>
</div>
